.about-store {
    text-decoration: none;
    padding: 0px 7px 0px 7px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

.about-store:hover {
    text-decoration: underline;
}

.gmail-images {
    text-decoration: none;
    padding: 0px 7px 0px 7px;
    display: inline-block;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

.gmail-images:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    color: #222;
}

#about-store {
    display: inline-block;
    padding-left: 15px;
    margin-top: 15px;
}

.about-store {
    font-size: 14px;
}

#top-right-stuff {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    float: right;
    line-height: 50px;
}

.gmail-images {
    position: relative;
    font-size: 13px;
}

.profile-container {
    float: right;
    display: inline-block;
    margin-top: 8px;
    padding: 3px 4px 5px 4px;
    height: 30px;
    width: 30px;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile-container:hover {
    background-color: #ebebec;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

/* Included a different way of creating a bento menu using a
grid and CSS. This can cause problems when attempting to make it
an anchor element, however (which in this case I am). */

.bento-container {
    float: right;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* .bento-container:hover {
    background-color: #ebebec;
    border-radius: 50%;
} */

/* .bento-pic {
    background-color: transparent;
}

.bento-pic:hover {
    box-shadow: 0 0 5px; #ebebec;
} */

#bento-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    height: 37px;
    width: 37px;
    position: relative;
    top: 10px;
}

#bento-menu:hover {
    background-color: #ebebec;
    border-radius: 50%;
}

.bento-dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #5f6368;
    position: relative;
}

.dot1 {
    top: 10px;
    left: 11px;
}

.dot2 {
    top: 10px;
    left: 4px;
}

.dot3 {
    top: 10px;
    right: 3px;
}

.dot4 {
    left: 11px;
    top: 3px;
}

.dot5 {
    left: 4px;
    top: 3px;
}

.dot6 {
    right: 3px;
    top: 3px;
}

.dot7 {
    bottom: 4px;
    left: 11px;
}

.dot8 {
    bottom: 4px;
    left: 4px;
}

.dot9 {
    bottom: 4px;
    right: 3px;
}

.google-container {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    height: 262px;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.google-logo {
    position: relative;
    margin-top: 170px;
}

.form-container {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.form-border {
    border: solid 1px #dfe1e5;
    height: 44px;
    width: 584px;
    border-radius: 24px;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.form-border:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,0.28);
}

.form-border:focus-within {
    box-shadow: 0 1px 6px rgba(32,33,36,0.28);
}

.srch-input {
    width: 530px;
    height: 34px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
}

.glass {
    width: 15px;
    height: 15px;
    opacity: 0.4;
    margin-left: 15px;
}

#buttons {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding-top: 18px;
}

.btn-box1 {
    width: 101.367px;
    height: 34px;
    padding: 0 16px 0 16px;
    border-radius: 4px;
    border: 1px solid #f8f9fa;
    background-color: #f8f9fa;
    flex-direction: row;
    display: inline-flex;
    align-items: center;
    margin: 11px 4px 11px 0;
    margin-left: auto;
}

.btn-box1:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #dadce0;
}

.btn-search {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: none;
    Background-color: transparent;
}

.btn-box2 {
    width: 116.467px;
    height: 34px;
    padding: 0 16px 0 16px;
    border-radius: 4px;
    border: 1px solid #f8f9fa;
    background-color: #f8f9fa;
    flex-direction: row;
    display: inline-flex;
    align-items: center;
    margin: 11px 0 11px 4px;
    margin-right: auto;
}

.btn-box2:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #dadce0;
}

.lucky {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: none;
    Background-color: transparent;
}